<div class="toast-container position-fixed {{ position }} p-3">
    {% for type, messages in flashes %}
        {% for message in messages %}
            {% include template with {
                'type': type,
                'message': message,
                'toast_type': toast_types[type] ?? 'info',
                'timer': timer,
                'is_dismissible': is_dismissible
            } %}
        {% endfor %}
    {% endfor %}
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var toasts = document.querySelectorAll(".toast");
        toasts.forEach(function(toast) {
            new bootstrap.Toast(toast).show();
        });
    });
</script>